/* -----------code ------------------*/
body {
    background:black;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Fija la imagen de fondo mientras se desplaza la página */
    transition:all 9s;
    animation: fadeIn 2s ease-in-out forwards;
    margin:0;
}
@keyframes fadeIn {
    0% {
        background: black;
    }
    100% {
        background-image: url('../img/fondo.jpg'); /* Nueva imagen de fondo */
    }
}
/*login*/
.conteiner{
    width: 100%;/*arreglar no lleva % */
    height: 100vh;
    padding-bottom: 100%;
    z-index: 9999;
    position:fixed;
    transition: all 1s;
    background-color: black;
    color:white;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Asegura que el loader esté por encima de otros elementos */
}

.loader {
    border: 8px solid #f3f3f3; /* Gris claro */
    border-top: 8px solid #3498db; /* Azul */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animación de rotación */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*ovni arriba del loade*/
.imgLoad{
    top: 0;
    width:100px;
    height:100px;
    position: fixed;
    transform: translateX(-5%);
    animation: animacionDescenso 1s linear infinite;
}
@keyframes animacionDescenso {
    0% {
        top: 0;
    }
    50% {
        top: calc(15% - 10px); /* Ajusta el valor según la altura de la imagen */
    }
}
/*Toas*/
.toast{
      position: fixed;
      top:5%;
      right: 10px;
      display:block; /* Ancho del div, ajusta según tus necesidades */
      background-color: #f0f0f0; /* Color de fondo, ajusta según tus necesidades */
}

/*header*/
h1 {
    padding:1%;
    margin:2%;
    font-size: 250%;
    color: white ;
    font-family: 'Lemon', serif;
}
#planet{
 display: flex;
 justify-content: center;
 transition: all 2s;
}
.img-plant{
    display: block;
    border-radius: 100%;
}
#name_planet{
    color: white;
    text-align: center ;
    padding: 2%;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.botones{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 43%;
}
#botones{
    color: black;
    width: 10%;
    height: 80%;
    border-radius: 15%;
    margin: 2%;
    border: none;
    transition: all 1s;
}
#botones:hover{
    background-color: rgb(241, 38, 38);
    color: white;
    transition: all 1s;
    box-shadow: 5px 5px  rgba(149, 153, 149, 0.205);
}
.data{
    text-align: center;
}
/*user*/
.peso_usuario{
    border-style: none;
    border-radius: 2%;
    transition: all 1s;
    width: 40%;
    padding: 1%;
}
.peso_usuario:focus{
    border-bottom: solid 3px red;
    transition: all 1s;
} 
.calcular{
    width: 30%;
    margin: 2%;
    padding: 1%;
    border:none;
    border-radius:10px 10px 10px 10px;
    color: white;
    transition: all 1s;
    font-size: 120%;
}
.calcular:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}
/*RESULTADO*/
.resultado{
    color: white;
    margin-top: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
/*Main*/
main{
    background-color:black;
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin:2;
    color:white;
}
.divOvnis{
     flex-grow:1;
     height:300px;
     width:400px;/*minimo*/
     max-width: 100%;/*Max*/
     padding:2%;
     margin-bottom:5%;
 }

.img-ovnis{
    width: 100%;
    height: 320px;
}
/*Nav*/
main ul{
    margin-top:2%;
    list-style-type: none;
    text-align: center;
}
main ul > li{ 
    display:inline;
    margin:1%;
}
main ul > li  a{
    text-decoration: none;
    color:white;
    transition:all 1s;
    font-size:1.5rem;
}
main ul > li a:hover {
    transition:all 1s;
    color:blue;
}
/*siguendo con el contenido*/
.info-alien{
    margin:2%;
    flex-grow:1;
    width:400px;
}
.info-alien h2,h3,p{
    font-family: 'Kanit', sans-serif;
}

/*Section planetas*/
#Planetas{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:center;
}
.arPlaneta{
    padding:2%;
    flex-grow:1;
    width:400px;
}
.cont-planet{   
    flex-grow:1;
    justify-content: center;
    text-align: center;
    width:200px;/*minimo*/
    margin-top:-5%;
    padding:2%;
}
.cont-planet img{ 
    width: 200px;
    height: 280px;
}
/*footer*/
footer{
    padding:2%;
    background-color:white;
    color:black;
}
/*Redes*/
/*Las img resultaron de distintas alturas asique mi en la obligacion de tocarlo por separado */
/*Arregla el responsive guapo*/
#icono{
    width:4%;
    min-width:10px;
    height:4%;
    min-height:10px;
    transition:all 1s;
}
#icono:hover{
    width:5%;
    height:5%;
    transition:all 1s;
    border:none;
}
.correo-icono:hover{
    background-color:#FF3E38;
    color:white;
    border-radius:10px 10px 10px 10px;
    border:solid white 3px;
    transition:all 1s;
}
.linkedin-icono:hover{
    background-color:#3880FF;
    color:white;
    border-radius:10px 10px 10px 10px;
    border:solid white 3px;
    transition:all 1s;
}
.instagram-icono:hover{
    background-color:#FF3E38;
    color:white;
    border-radius:19px 19px 19px 19px;
    border:solid white 3px;
    transition:all 1s;
}
.facebook-icono:hover{
    background-color:#3880FF;
    color:white;
    border-radius:10px 10px 10px 10px;
    border:solid white 3px;
    transition:all 1s;

}
footer ul { 
    list-style-type: none;
    text-align: center;
}
footer ul > li { 
    display:inline;
    margin:1%;
}
/*agradecimiento y dedicatórias*/
h4{
    text-align:center;
}

footer p {
    font-family: 'Inconsolata', monospace;
}





























